#back-to-top
  position: fixed
  right: 50px
  bottom: 50px
  z-index: 500
  width: 85px
  height: 85px
  border-radius: 50%
  background-color: rgba(255, 255, 255, .4)
  background-image: url('../images/arrow-top.png')
  background-repeat: no-repeat
  background-position-x: center
  background-position-y: 10px
  transition: opacity 0.2s ease-out
  cursor: pointer
  opacity: 0
  text-align: center
  line-height: 120px
  font-size: 12px
  &.show
    opacity: 1
  +media-750
    display: none