.modal-window
  display: none
  position: fixed
  width: 100%
  max-width: 500px
  padding: 40px 50px
  background: #ffffff
  border-radius: 10px
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  z-index: 11

  &__close
    position: absolute
    top: 15px
    right: 17px
    width: 19px
    height: 19px
    background: url("../images/modal-close.png")
    &:hover
      cursor: pointer
  &__name
    text-align: center
    font-size: 18px
    padding: 30px 0px
    margin-bottom: 10px
.call-back-form
  position: relative
  &__group
    margin-bottom: 30px
    input
      width: 100%
      height: 50px
      border: 1px solid $blue-color
      border-radius: 8px
      padding-left: 20px
      &:focus
        outline: none
      &::placeholder
        color: $blue-color
  &__loader-overlay
    display: none
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(255, 255, 255, .7)
    &:after
      content: ''
      display: block
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      background: url('../images/ajax-loader.gif') no-repeat
      background-position: center center
  &__success
    display: none
    text-align: center
    font-size: 30px
    padding: 0px 20px
    margin: 50px 0
  &__fail-recaptcha
    display: none
    text-align: center
    padding: 10px 0
  &__recaptcha
    text-align: center
    padding-bottom: 20px

#overlay
  display: none
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: #000000
  opacity: .7
  z-index: 10