<div class="section__column section__right-column">
    <div class="we-have__image we-have__image--mobile" data-animate="fadeInUp">
        <div class="we-have__circle">
            <img src="./images/extra-small-container.png" alt="">
        </div>
    </div>
</div>
<div class="we-have__product-block" data-animate="fadeInUp">
    <div class="section__column section__left-column">
        <div class="we-have__product-title">
            Контейнер
        </div>
        <div class="we-have__price we-have__price--mobile">
            3500руб/месяц
        </div>
        <div class="we-have__product-area">
            5 футовый контейнер (3,5м<sup><small>2</small></sup>)
        </div>
        <div class="we-have__product-sizes">
            Длина: 3,2 м<br/>
            Ширина: 1,15м<br/>
            Высота: 2,7 м<br/>
            Объем: 9,5 м<sup><small>3</small></sup><br/>
            <div class="we-have__price we-have__price--desktop">
                3500руб/месяц
            </div>
        </div>
        <a class="btn-call btn-more btn-more--rent">Арендовать</a>
    </div>
    <div class="section__column section__right-column">
        <div class="we-have__image we-have__image--desktop">
            <div class="we-have__circle">
                <img src="./images/extra-small-container.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="section__column section__right-column">
    <div class="we-have__image we-have__image--mobile" data-animate="fadeInUp">
        <div class="we-have__circle">
            <img src="./images/small-container.png" alt="">
        </div>
    </div>
</div>
<div class="we-have__product-block" data-animate="fadeInUp">
    <div class="section__column section__left-column">
        <div class="we-have__product-title">
            Контейнер
        </div>
        <div class="we-have__price we-have__price--mobile">
            7000руб/месяц
        </div>
        <div class="we-have__product-area">
            10 футовый контейнер (7м<sup><small>2</small></sup>)
        </div>
        <div class="we-have__product-sizes">
            Длина: 32 м<br/>
            Ширина: 2,3 м<br/>
            Высота: 2,7 м<br/>
            Объем: 19,8 м<sup><small>3</small></sup><br/>
            <div class="we-have__price we-have__price--desktop">
                7000руб/месяц
            </div>
        </div>
        <a class="btn-call btn-more btn-more--rent">Арендовать</a>
    </div>
    <div class="section__column section__right-column">
        <div class="we-have__image we-have__image--desktop">
            <div class="we-have__circle">
                <img src="./images/small-container.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="section__column section__right-column">
    <div class="we-have__image we-have__image--mobile" data-animate="fadeInUp">
        <div class="we-have__circle">
            <img src="./images/medium-container.png" alt="">
        </div>
    </div>
</div>
<div class="we-have__product-block" data-animate="fadeInUp">
    <div class="section__column section__left-column">
        <div class="we-have__product-title">
            Контейнер
        </div>
        <div class="we-have__price we-have__price--mobile">
            8500руб/месяц
        </div>
        <div class="we-have__product-area">
            20 футовый контейнер(15м<sup><small>2</small></sup>)
        </div>
        <div class="we-have__product-sizes">
            Длина: 6 м<br/>
            Ширина: 2,35 м<br/>
            Высота: 2,5 м<br/>
            Объем: 35 м<sup><small>3</small></sup><br/>
            <div class="we-have__price we-have__price--desktop">
                8500руб/месяц
            </div>
        </div>
        <a class="btn-call btn-more btn-more--rent">Арендовать</a>
    </div>
    <div class="section__column section__right-column">
        <div class="we-have__image we-have__image--desktop">
            <div class="we-have__circle">
                <img src="./images/medium-container.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="section__column section__right-column">
    <div class="we-have__image we-have__image--mobile" data-animate="fadeInUp">
        <div class="we-have__circle">
            <img src="./images/large-container.png" alt="">
        </div>
    </div>
</div>
<div class="we-have__product-block" data-animate="fadeInUp">
    <div class="section__column section__left-column">
        <div class="we-have__product-title">
            Контейнер
        </div>
        <div class="we-have__price we-have__price--mobile">
            10500руб/месяц
        </div>
        <div class="we-have__product-area">
            40 футовый контейнер(15м<sup><small>2</small></sup>)
        </div>
        <div class="we-have__product-sizes">
            Длина: 6 м<br/>
            Ширина: 2,35 м<br/>
            Высота: 2,5 м<br/>
            Объем: 35 м<sup><small>3</small></sup><br/>
            <div class="we-have__price we-have__price--desktop">
                10500руб/месяц
            </div>
        </div>
        <a class="btn-call btn-more btn-more--rent">Арендовать</a>
    </div>
    <div class="section__column section__right-column">
        <div class="we-have__image we-have__image--desktop">
            <div class="we-have__circle">
                <img src="./images/large-container.png" alt="">
            </div>
        </div>
    </div>
</div>