// NODE LIBS SASS
@import "bourbon"
@import "reset"

// HELPERS
@import "helpers/mixins"
@import "helpers/media"

//VENDOR
@import "../vendor"

// CORE
@import "core/core"

// BEM BLOCKS
@import "blocks/wrapper"
@import "blocks/header"
@import "blocks/section"
@import "blocks/main-head"
@import "blocks/footer"
@import "blocks/where-to-buy"
@import "blocks/we-have"
@import "blocks/you-get"
@import "blocks/video-block"
@import "blocks/what-do-we-keep"
@import "blocks/sub-footer"
@import "blocks/photo-slider"

//UI-ELEMENTS
@import "blocks/ui-elements/modal-window"
@import "blocks/ui-elements/back-to-top"

body
  // overflow-x: hidden

button
  border: none

.btn-more
  display: block
  font-size: 18px
  line-height: 60px
  text-align: center
  color: #ffffff
  width: 300px
  height: 60px
  border-radius: 6px
  background: $orange-color
  transition: .3s all
  &:hover
    background: $blue-color
    cursor: pointer
  &--main-head
    margin: 0 auto
  &--where-to-buy
    max-width: 100%
    &:hover
      background: transparent
      border: 2px solid #ffffff
      color: #ffffff
    +media-750
      margin: 0 auto
  &--rent
    width: 250px
    +media-750
      margin: 0 auto
  &--call-to-action
    margin: 0 auto

  &--send
    width: 100%
    &:focus
      outline: none
    &:hover
      cursor: pointer