<div class="you-get__item" data-animate="fadeInRight" data-delay="0.1">
    <div class="you-get__item-icon">
        <img src="./images/shield.png" alt="">
    </div>
    <div class="you-get__item-title">
        Охрана и<br/>
        герметичные<br/>
        контейнеры<br/>
    </div>
</div>
<div class="you-get__item" data-animate="fadeInRight" data-delay="0.2">
    <div class="you-get__item-icon">
        <img src="./images/video.png" alt="">
    </div>
    <div class="you-get__item-title">
        Видеонаблюдение
    </div>
</div>
<div class="you-get__item" data-animate="fadeInRight" data-delay="0.3">
    <div class="you-get__item-icon">
        <img src="./images/location.png" alt="">
    </div>
    <div class="you-get__item-title">
        Близость к метро
    </div>
</div>
<div class="you-get__item" data-animate="fadeInRight" data-delay="0.4">
    <div class="you-get__item-icon">
        <img src="./images/24-hours.png" alt="">
    </div>
    <div class="you-get__item-title">
        Круглосуточный<br/>доступ
    </div>
</div>
<div class="you-get__item" data-animate="fadeInRight" data-delay="0.5">
    <div class="you-get__item-icon">
        <img src="./images/transport.png" alt="">
    </div>
    <div class="you-get__item-title">
        Вилочный погрузчик
    </div>
</div>
<div class="you-get__item" data-animate="fadeInRight" data-delay="0.6">
    <div class="you-get__item-icon">
        <img src="./images/tool.png" alt="">
    </div>
    <div class="you-get__item-title">
        Освещение
    </div>
</div>
<div class="you-get__item" data-animate="fadeInRight" data-delay="0.7">
    <div class="you-get__item-icon">
        <img src="./images/recycling-bin.png" alt="">
    </div>
    <div class="you-get__item-title">
        Санузел и<br/>мусорные баки
    </div>
</div>
<div class="you-get__item" data-animate="fadeInRight" data-delay="0.8">
    <div class="you-get__item-icon">
        <img src="./images/technology.png" alt="">
    </div>
    <div class="you-get__item-title">
        Бесплатный wi-fi
    </div>
</div>