<section class="section section--white section--call-to-action">
    <div class="section__container">
        <h2 style="text-align: center; margin-bottom: 18px" data-animate="fadeInUp">
            Узнайте о наличии<br/>контейнера сейчас!
        </h2>
        <div class="section__content" data-animate="fadeInUp">
            <p style="margin-bottom: 40px">Мы работаем 24 часа в сутки, 7 дней в неделю!</p>
            <p style="font-size: 36px; margin-bottom: 40px">+7 (495) 755 30 15</p>
            <a class="btn-call btn-more btn-more--call-to-action">Заказать обратный звонок</a>
        </div>
    </div>
</section>