<section class="section section--white section--container-description">
    <div class="section__container section__container--full">
        <h2 style="text-align: center; margin-bottom: 42px">Морской контейнер</h2>
        <p style="text-align: center">
            Мировой формат грузоперевозок и складирования.<br/>
            Склады из морских контейнеров пользуются повышенным спросом с 60х годов по всему миру.<br/>
            Мы предлагаем в аренду антивандальные, сухие, охраняемые 24 часа, индивидуальные складские контейнера за<br/>невысокую арендную плату для бизнеса и частных лиц. 15 площадок по всей Москве, более 800 контейнеров разного<br/>формата по площади. Профессиональный менеджмент. Индивидуальный подход.
        </p>
    </div>
</section>