<div class="main-head" style="background-image: url('./images/main-head.jpg');">
    <div class="main-head__content">
        <div class="main-head__title">
            <h1 data-animate="fadeInDownBig">Аренда склада контейнера в Москве</h1>
        </div>
        <div class="main-head__text" data-animate="fadeInDownBig">
            <p>
                От 3 до 300 м2 дешевле на 50% обычного склада - доступ 24 часа в сутки. Охрана, Видеонаблюдение, Доставка грузов, Индивидуальный подход. Скидки. Работаем с 2012 года.
            </p>
        </div>
        <a href="#we-have" class="btn-more btn-more--main-head" data-animate="fadeInUpBig" data-delay="0.3">Подробнее</a>
    </div>
</div>