<section class="section section--gray" id="reviews">
    <div class="section__container">
        <h2 style="text-align: center; margin-bottom: 55px" data-animate="fadeInUp">
            Наши клиенты
        </h2>
        <div class="section__content">
            <div class="section__column section__left-column">
                <div class="video-block__wrapper">
                    <div class="video-block video-block__left" style="background-image: url('./images/vid-left.png');" data-animate="fadeInLeft">
                        <div class="video-block__play-button">
                            <a class="open-video popup-youtube" href="http://www.youtube.com/watch?v=IP2OEBZr0jc">
                                <img src="./images/play-button.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section__column section__right-column">
                <div class="video-block__wrapper">
                    <div class="video-block video-block__right" style="background-image: url('./images/vid-right.png');" data-animate="fadeInRight">
                        <div class="video-block__play-button">
                            <a class="open-video popup-youtube" href="http://www.youtube.com/watch?v=rceAC0UV8CA">
                                <img src="./images/play-button.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>