<section class="section section--gray">
    <h2 style="text-align: center; margin-bottom: 42px">Фото наших контейнерных складов</h2>
    <div class="photo-slider owl-carousel">
        <a href="./images/slider/1.jpg" class="photo-slider__link"><img src="./images/slider/1.jpg" alt="" class="slider__item"></a>
        <a href="./images/slider/2.jpg" class="photo-slider__link"><img src="./images/slider/2.jpg" alt="" class="slider__item"></a>
        <a href="./images/slider/3.jpg" class="photo-slider__link"><img src="./images/slider/3.jpg" alt="" class="slider__item"></a>
        <a href="./images/slider/3.jpg" class="photo-slider__link"><img src="./images/slider/3.jpg" alt="" class="slider__item"></a>
        <a href="./images/slider/3.jpg" class="photo-slider__link"><img src="./images/slider/3.jpg" alt="" class="slider__item"></a>
        <a href="./images/slider/3.jpg" class="photo-slider__link"><img src="./images/slider/3.jpg" alt="" class="slider__item"></a>
    </div>
</section>