<section class="section section--white we-have" id="we-have">
    <div class="section__container">
        <h2 style="text-align: center; margin-bottom: 90px" data-animate="fadeInUp">
            У нас имеются
        </h2>
        <div class="section__content">
            {% include "pages/sections/we-have-items/item.html" %}
        </div>
        <div class="we-have__and-also">
            <span class="we-have__span-big">
                Также в наличии <span class="we-have__span-blue">отапливаемые</span> и не отапливаемые мини - склады от 2,5 м<sup><small>2</small></sup>
            </span>
            <span class="we-have__span-small">Подробности аренды и наличия <a class="btn-call">уточняйте у менеджера.</a></span>
        </div>
    </div>
</section>