<section class="section section--white what-do-we-keep" id="what-do-we-keep">
    <div class="section__container">
        <h2 style="text-align: center; margin-bottom: 42px" data-animate="fadeInUp">
            Что обычно хранят в контейнерах?
        </h2>
        <div class="section__content">
            <div class="what-do-we-keep__stuff what-do-we-keep__stuff--desktop" data-animate="fadeInUp" data-delay="0.7">
                <img src="./images/what-we-keep.png" alt="">
            </div>
            <div class="what-do-we-keep__stuff what-do-we-keep__stuff--mobile" data-animate="fadeIn">
                <div class="what-do-we-keep__column">
                    <ul class="what-do-we-keep__list">
                        <li>Мебель</li>
                        <li>Бытовая техника</li>
                        <li>Книжный архив</li>
                        <li>Стройматериалы и инструменты</li>
                    </ul>
                </div>
                <div class="what-do-we-keep__column">
                    <div class="what-do-we-keep__item">
                        <span class="what-do-we-keep__item-style"></span><span class="what-do-we-keep__item-text">Мебель</span>
                    </div>
                    <div class="what-do-we-keep__item">
                        <span class="what-do-we-keep__item-style"></span><span class="what-do-we-keep__item-text">Спортивный инвентарь</span>
                    </div>
                    <div class="what-do-we-keep__item">
                        <span class="what-do-we-keep__item-style"></span><span class="what-do-we-keep__item-text">Бытовая техника</span>
                    </div>
                    <div class="what-do-we-keep__item">
                        <span class="what-do-we-keep__item-style"></span><span class="what-do-we-keep__item-text">Музыкальные инструменты</span>
                    </div>
                    <div class="what-do-we-keep__item">
                        <span class="what-do-we-keep__item-style"></span><span class="what-do-we-keep__item-text">Книжный архив</span>
                    </div>
                    <div class="what-do-we-keep__item">
                        <span class="what-do-we-keep__item-style"></span><span class="what-do-we-keep__item-text">Оргтехника</span>
                    </div>
                    <div class="what-do-we-keep__item">
                        <span class="what-do-we-keep__item-style"></span><span class="what-do-we-keep__item-text">Стройматериалы и инструменты</span>
                    </div>
                    <div class="what-do-we-keep__item">
                        <span class="what-do-we-keep__item-style"></span><span class="what-do-we-keep__item-text">Ресторанное оборудование</span>
                    </div>
                </div>
            </div>

            <div class="what-do-we-keep__and-also">
                <h2 style="text-align: center; margin-bottom: 42px" data-animate="fadeInUp">
                    А также:
                </h2>
                <div class="what-do-we-keep__and-also-item">
                    <div class="what-do-we-keep__and-also-item-image">
                        <img src="./images/what-do-we-keep-also/auto.png" alt="">
                    </div>
                    <div class="what-do-we-keep__and-also-item-title">
                        Автозапчасти<br/>и комплектующие
                    </div>
                </div>
                <div class="what-do-we-keep__and-also-item">
                    <div class="what-do-we-keep__and-also-item-image">
                        <img src="./images/what-do-we-keep-also/techno.png" alt="">
                    </div>
                    <div class="what-do-we-keep__and-also-item-title">
                        Промышленное<br/>оборудование
                    </div>
                </div>
                <div class="what-do-we-keep__and-also-item">
                    <div class="what-do-we-keep__and-also-item-image">
                        <img src="./images/what-do-we-keep-also/showcase.png" alt="">
                    </div>
                    <div class="what-do-we-keep__and-also-item-title">
                        Выставочное<br/>оборудование
                    </div>
                </div>
                <div class="what-do-we-keep__and-also-item">
                    <div class="what-do-we-keep__and-also-item-image">
                        <img src="./images/what-do-we-keep-also/theater.png" alt="">
                    </div>
                    <div class="what-do-we-keep__and-also-item-title">
                        Театралльные<br/>декорации
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>