<section class="section section--color where-to-buy">
    <div class="section__container">
        <div class="section__content">
            <div class="section__column where-to-buy__map" data-animate="fadeInLeft">
                <img src="./images/map.png" alt="">
            </div>
            <div class="section__column section__right-column where-to-buy__address" data-animate="fadeInRight">
                <h2 style="margin-bottom: 50px">
                    Адреса площадок-складов
                </h2>
                <ul class="where-to-buy__list">
                    <li><a href="https://yandex.ua/maps/-/CBQbf0CpPD" target="_blank">Дорожная улица 54 к5, метро Аннино (Юг)</a></li>
                    <li><a href="https://yandex.ua/maps/-/CBQbfOSegA" target="_blank">ул. Академика Челомея, 3 к 2, метро Калужская (Юго-запад)</a></li>
                    <li><a href="https://yandex.ua/maps/-/CBQbf8GhHB" target="_blank">2-й Нагатинский проезд 2, метро Нагатинская (Центр)</a></li>
                    <li><a href="https://yandex.ua/maps/-/CBQbfDuVxC" target="_blank">4-й Лихачёвский пер., 2, м. Водный стадион (Северо-Запад)</a></li>
                    <li><a href="https://yandex.ua/maps/-/CBQbfDD~PA" target="_blank">Рябиновая улица, 28c11, метро Кунцевская (Запад)</a></li>
                    <li><a href="https://yandex.ua/maps/-/CBQbfHr63D" target="_blank">Улица Братьев Фонченко, 19, метро Парк Победы (Запад)</a></li>
                    <li><a href="https://yandex.ua/maps/-/CBQbfLar8B" target="_blank">Алтуфьевское шоссе, 35А, метро Отрадное (Север)</a></li>
                    <li><a href="https://yandex.ua/maps/-/CBQbfLWA8A" target="_blank">Улица Перерва, 11с24, метро Марьино (Юго-восток)</a></li>
                    <li><a href="https://yandex.ua/maps/-/CBQbfPULLD" target="_blank">Проезд Добролюбова, 3с7, метро Бутырская (Север)</a></li>
                </ul>
                <a href="#map" class="btn-more btn-more--where-to-buy">Посмотреть на карте</a>
            </div>
        </div>
    </div>
</section>