<section class="section section--color you-get">
    <div class="section__container">
        <h2 style="text-align: center; margin-bottom: 65px" data-animate="fadeInUp">
            Арендуя контейнер ты получишь
        </h2>
        <div class="section__content">
            {% include "pages/sections/you-get-items/item.html" %}
        </div>
    </div>
</section>