<div class="sub-footer">
	<div class="sub-footer__inner">
		<h4 class="sub-footer__title sub-footer__title--desktop">Реквизиты компании ЗАО "Лето"</h4>
		<div class="sub-footer__left-side">
			<h4 class="sub-footer__title sub-footer__title--mobile">Реквизиты компании ЗАО "Лето"</h4>
			<div class="sub-footer__address">
				<strong>Юридический адрес:</strong> 119530, г. Москва, ул. Генерала Дорохова, д.16, стр. 9<br/>
				<strong>Фактический адрес:</strong> 119530, г. Москва, ул. Генерала Дорохова, д.16, стр. 9
			</div>
			<div class="sub-footer__requisites sub-footer__requisites--mobile">
				<strong>Банковские реквизиты:</strong><br/>
				40702810338110017597 в ОАО «Сбербанк России» г. Москва
			</div>
			<div class="sub-footer__inn">
				<strong>ИНН</strong> 7729716490<br/>
				<strong>КПП</strong> 772901001
			</div>
			<div class="sub-footer__numbers sub-footer__numbers--mobile">
				<strong>к/с</strong> 30101810400000000225<br/>
				<strong>БИК</strong> 044525225
			</div>
		</div>
		<div class="sub-footer__right-side">
			<div class="sub-footer__requisites sub-footer__requisites--desktop">
				<strong>Банковские реквизиты:</strong><br/>
				40702810338110017597 в ОАО «Сбербанк России» г. Москва
			</div>
			<div class="sub-footer__numbers sub-footer__numbers--desktop">
				<strong>к/с</strong> 30101810400000000225<br/>
				<strong>БИК</strong> 044525225
			</div>
			<div class="sub-footer__documents sub-footer__documents--mobile">
				<div class="sub-footer__documents-title">
					<h4 class="sub-footer__title">Документы</h4>
				</div>
				<div class="sub-footer__documents-links">
					<ul class="sub-footer__documents-list">
						<li>
							<a href="./images/docs/big-svidetelstvo-registracii.jpg" target="_blank">Свидетельство о регистрации</a>
						</li>
						<li>
							<a href="./images/docs/big-postanovka-na-uchet.jpg" target="_blank">Свидетельство о постановке на учет</a>
						</li>
						<li>
							<a href="DogovorCheapSkladFiz.pdf" target="_blank">Договор хранения</a>
						</li>
						<li>
							<a href="Kvitancija-na-oplatu.pdf" target="_blank">Квитанция на оплату</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="sub-footer__documents sub-footer__documents--desktop">
			<div class="sub-footer__documents-title">
				<h4 class="sub-footer__title">Документы</h4>
			</div>
			<div class="sub-footer__documents-links">
				<ul class="sub-footer__documents-list">
					<li>
						<a href="./images/docs/big-svidetelstvo-registracii.jpg" target="_blank">Свидетельство о регистрации</a>
					</li>
					<li>
						<a href="./images/docs/big-postanovka-na-uchet.jpg" target="_blank">Свидетельство о постановке на учет</a>
					</li>
					<li>
						<a href="DogovorCheapSkladFiz.pdf" target="_blank">Договор хранения</a>
					</li>
					<li>
						<a href="Kvitancija-na-oplatu.pdf" target="_blank">Квитанция на оплату</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<footer class="footer">
	<div class="footer__inner">
		<div class="footer__column footer__left-column">
			<div class="footer__address">
				г. Москва, ул. Усачева 11, метро "Спортивная"<br/>
				<a href="mailto:info@cheapsklad.ru">info@cheapsklad.ru</a>
			</div>
		</div>
		<div class="footer__column footer__right-column">
			<div class="footer__contacts">
				<span style="font-size: 16px;">Многоканальный</span><br/>
				<a href="tel:+74957553015" style="font-size: 21px; font-family: 'Roboto Regular', sans-serif">+7 (495) 755 30 15</a><br/>
				<a href="tel:+79777961500">+7 (977) 796 15 00</a>
			</div>
		</div>
		<div class="footer__copyright">
			Сайт разработан студией веб-проектов <a href="http://wires-web.com/" target="_blank" class="footer__copyright-link-company">"WIRES"</a>. 2017 год. Все права защищены.<br/>
			<a href="politika_confedecialnosti.docx" target="_blank" class="footer__politica">Политика кофедициальности</a>
		</div>
	</div>
	<div id="back-to-top">
		Наверх
	</div>
</footer>