<header class="header">
	<div class="header__inner">
		<div class="header__left-column">
			<div class="header__logo">
				<img src="./images/logo.png" />
			</div>
		</div>
		<div class="header__right-column">
			<div class="header__item header__menu">
				<div class="header__burger">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<ul class="header__nav-menu header__nav-menu--desktop">
					<li><a href="#what-do-we-keep">Что хранить?</a></li>
					<li><a href="#we-have">Контейнеры</a></li>
					<li><a href="#reviews">Отзывы</a></li>
					<li><a href="#map">Контакты</a></li>
				</ul>
				<ul class="header__nav-menu header__nav-menu--mobile">
					<li><a href="#what-do-we-keep">Что хранить?</a></li>
					<li><a href="#we-have">Контейнеры</a></li>
					<li><a href="#reviews">Отзывы</a></li>
					<li><a href="#map">Контакты</a></li>
				</ul>
			</div>
			<div class="header__item header__phone">
				<a href="tel:+74957553015">+7 (495) 755 30 15</a><br/>
				<span>круглосуточно</span>
			</div>
			<div class="header__item">
				<a class="btn-call header__call-button" onclick="return false">
					Заказать звонок
				</a>
			</div>
		</div>
	</div>
</header>