body
  font-family: 'Roboto Regular', sans-serif
  font-size: 16px
  color: $dark-blue
a
  text-decoration: none
  &:hover, &:focus
    text-decoration: none

p
  font-size: 18px
  line-height: 30px

small
  font-size: 12px

sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em