.footer
  background: $blue-color
  padding: 30px 4%
  &__inner
    max-width: 960px
    margin: 0 auto
    font-size: 0px
  &__column
    display: inline-block
    width: 50%
    font-size: 16px
    color: #FFFFFF
    vertical-align: top
    font-family: 'Roboto Light', sans-serif
    +media-750
      width: 70%
    +media-550
      width: 100%
  &__contacts
    padding-left: 90px
    padding-top: 10px
    padding-bottom: 10px
    margin-left: (100% / 4)
    line-height: 25px
    min-height: 47px
    background: url("../images/phone-call.png") no-repeat
    background-position: center left
    +media-800
      margin-left: 0px
    +media-750
      margin-left: (100% / 4 * 1 )
    +media-550
      margin-left: 10%
    +media-480
      margin-left: 0
    a
      color: #ffffff
  &__address
    padding-left: 90px
    padding-top: 10px
    padding-bottom: 10px
    min-height: 63px
    line-height: 31px
    background: url("../images/email.png") no-repeat
    background-position: center left
    +media-750
      margin-left: (100% / 4 * 1 )
    +media-550
      margin-left: 10%
    +media-480
      margin-left: 0
    a
      color: #FFFFFF
      text-decoration: underline
      &:hover
        text-decoration: none
  &__copyright
    font-family: "Roboto Regular", sans-serif
    font-size: 14px
    color: #ffffff
    text-align: center
    margin-top: 30px
  &__copyright-link-company
    display: inline-block
    position: relative
    text-transform: uppercase
    color: #ffffff
    &:before
      content: ''
      display: block
      position: absolute
      bottom: 0
      left: 0
      height: 1px
      background: #ffffff
      width: 100%
      transition: width .3s
    &:hover
      &:before
        width: 0
  &__politica
    display: inline-block
    margin-top: 15px
    color: #ffffff
    text-decoration: underline
    &:hover
      text-decoration: none