.header
  position: relative
  background: #ffffff
  padding: 20px 4%
  &__inner
    max-width: 1280px
    margin: 0 auto
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
  &__logo
    img
      max-width: 200px
    +media-1152
      display: none
  &__right-column
    font-size: 0px
    display: flex
    flex-flow: row nowrap
    justify-content: flex-end
    flex: 1
    align-items: center
    +media-1152
      display: inline-block
      text-align: right
    +media-750
      width: 100%
      text-align: center
  &__item
    display: inline-block
    vertical-align: middle
  &__phone
    text-align: center
    margin: 0 2%
    +media-750
      margin: 0px 4%
    a
      font-size: 21px
      color: $blue-color
      line-height: 40px
      +media-863
        font-size: 16px
      +media-750
        font-size: 30px
    span
      font-size: 12px
      color: $blue-color
      +media-750
        font-size: 16px
  &__call-button
      font-size: 16px
      line-height: 40px
      text-align: center
      color: #ffffff
      display: block
      width: 179px
      height: 40px
      border-radius: 6px
      background: $orange-color
      transition: .3s all
      &:hover
        background: #2980b9
        cursor: pointer
      +media-750
        width: 260px
        height: 70px
        font-size: 24px
        line-height: 70px
      +media-680
        margin-top: 20px
      +media-480
        display: none

  &__burger
    display: none
    width: 70px
    height: 50px
    position: relative
    transform: rotate(0deg)
    transition: .5s ease-in-out
    cursor: pointer
    +media-750
      display: inline-block
    span
      display: block
      position: absolute
      height: 8px
      width: 100%
      background: $dark-blue
      border-radius: 9px
      opacity: 1
      left: 0
      transform: rotate(0deg)
      transition: .25s ease-in-out
      &:nth-child(1)
        top: 0px
        transform-origin: left center

      &:nth-child(2)
        top: 18px
        transform-origin: left center

      &:nth-child(3)
        top: 36px
        transform-origin: left center

    &.open
      span
        &:nth-child(1)
          transform: rotate(45deg)
          top: -4px
          left: 8px

        &:nth-child(2)
          width: 0%
          opacity: 0

        &:nth-child(3)
          transform: rotate(-45deg)
          top: 46px
          left: 8px

  &__nav-menu
    li
      display: inline-block
      font-size: 16px
      +media-863
        font-size: 13px
      a
        display: inline-block
        color: $dark-blue
        padding: 20px 10px
    &--desktop
      +media-750
        display: none
    &--mobile
      display: none
      position: absolute
      top: 100%
      left: 0
      width: 100%
      padding-top: 30px
      padding-bottom: 30px
      background: #ffffff
      opacity: .8
      z-index: 1
      text-align: left
      li
        display: block
        font-size: 30px
        padding: 0px 4%
      a
        display: inline-block
        padding: 30px 4%
    &--open
      display: block