.main-head
  width: 100%
  height: 700px
  position: relative
  background-size: cover
  background-position: center
  overflow: hidden
  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: #000000
    opacity: .4
  &__content
    max-width: 640px
    text-align: center
    color: #ffffff
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    h1
      font-size: 60px
      margin: 20px 0px
      +media-480
        font-size: 50px
  &__text
    margin-bottom: 53px