.section
  font-size: 0px
  padding: 60px 0px 60px
  overflow: hidden
  &__container
    max-width: 1280px
    margin: 0 auto
    padding-left: 10%
    padding-right: 10%
    +media-750
      padding-left: (100% / 4 * 0.25)
      padding-right: (100% / 4 * 0.25)
    +media-480
      padding: 0px 20px
    &--full
      padding-left: 0px
      padding-right: 0px
      +media-750
        padding-left: (100% / 4 * 0.25)
        padding-right: (100% / 4 * 0.25)
      +media-480
        padding: 0px 20px
  &__column
    display: inline-block
    vertical-align: top
    position: relative
    +clearfix
  h2
    font-size: 36px
    font-weight: 600
    +media-750
      font-size: 48px
  h4
    font-size: 16px
    font-family: 'Roboto Medium', sans-serif
    margin-bottom: 20px
    +media-750
      font-size: 30px
  &--white, &--gray
    h2
      color: $blue-color
  &--color
    background: $blue-color
    h2, h4
      color: #ffffff
  &--gray
    background: #ecf0f1
  &--call-to-action
    padding: 80px 0px 67px
    text-align: center
  &__left-column
    width: 50%
    +media-750
      width: 100%
  &__product-char-column
    width: (100% / 6 * 2)
    margin-left: (100% / 6)
    +media-1280
      width: 50%
      margin-left: 0px
    +media-750
      width: 100%
      text-align: center
  &__right-column
    width: 50%
    +media-750
      width: 100%
  &--container-description
    padding-bottom: 0
    +media-750
      display: none
#map
  width: 100%
  height: 500px