.video-block
  //padding: 10px 30px
  position: relative
  text-align: center
  overflow: hidden
  width: 100%
  max-width: 370px
  height: 240px
  border-radius: 10px
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  &:before
    content: ''
    display: block
    background: #ffffff
    opacity: 0
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    transition: .3s all
  +media-750
    margin: 0 auto
  &__wrapper
    padding: 10px 30px
  &__play-button
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  &__left
    float: left
    +media-800
      float: none
  &__right
    float: right
    +media-800
      float: none

.open-video
  &:focus
    outline: none