.we-have
  &__product-block
    margin-bottom: 60px
    +media-750
      margin-top: 30px
      text-align: center
  &__circle
    width: 238px
    height: 238px
    border-radius: 50%
    background: $blue-color
    margin: 0 auto
  &__image
    text-align: center
    transition: .3s all
    img
      max-width: 100%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
    &--mobile
      display: none
      +media-750
        display: block
    &--desktop
      +media-750
        display: none
  &__product-title
    font-size: 24px
    color: $blue-color
    margin-bottom: 5px
    +media-750
      font-size: 36px
      margin-bottom: 20px
      display: none
  &__product-area
    font-size: 24px
    margin-bottom: 30px
    +media-750
      font-size: 36px
  &__product-sizes
    position: relative
    font-size: 18px
    line-height: 22px
    margin-bottom: 47px
    +media-750
      font-size: 30px
      line-height: 40px

  &__and-also
    margin-top: 90px
    a
      color: $orange-color
      text-decoration: underline
      cursor: pointer
      &:hover
        text-decoration: none
    +media-750
      display: none
  &__span-big
    font-family: "Roboto Medium", sans-serif
    font-size: 24px
    line-height: 30px
    color: $dark-blue
  &__span-small
    font-family: "Roboto Regular", sans-serif
    font-size: 20px
    line-height: 30px
  &__span-blue
    color: $blue-color
  &__price
    border: 1px solid $blue-color
    color: $blue-color
    text-align: center
    font-size: 26px
    font-family: "Roboto Medium", sans-serif
    position: absolute
    right: 10%
    top: 50%
    transform: translateY(-50%)
    padding: 15px 20px
    +media-1075
      right: 0
    +media-950
      position: relative
      margin-top: 50px
    &--desktop
      +media-750
        display: none
    &--mobile
      display: none
      +media-750
        display: block
        width: 300px
        margin: 50px auto 0 auto