.what-do-we-keep
  &__stuff
    img
      max-width: 100%
    &--desktop
      text-align: center
      +media-750
        display: none
    &--mobile
      display: none
      +media-750
        display: block
  &__item
    display: inline-block
    position: relative
    width: 50%
    margin-bottom: 40px
    padding: 0px 10px
    +media-640
      width: 100%
  &__item-text
    display: inline-block
    font-size: 30px
    vertical-align: top
    margin-left: 25px
  &__item-style
    display: inline-block
    vertical-align: top
    position: absolute
    top: 7px
    width: 15px
    height: 15px
    border-radius: 50%
    background: $blue-color
  &__and-also
    margin-top: 60px
    +media-750
      display: none
  &__and-also-item
    display: inline-block
    text-align: center
    width: (100% / 4)
    padding: 0 25px
  &__and-also-item-image
    img
      max-width: 100%
  &__and-also-item-title
    font-size: 16px
    line-height: 20px
    margin-top: 15px