.where-to-buy
  padding: 60px 0px 40px
  position: relative
  font-size: 0
  +media-750
    padding-bottom: 100px
  &__list
    font-family: 'Roboto Light', sans-serif
    font-size: 16px
    line-height: 24px
    color: #ffffff
    margin-bottom: 30px
    display: inline-block
    vertical-align: top
    padding: 0 10px
    width: (100%/3)
    +media-1024
      width: 50%
    +media-750
      width: 100%
    a
      color: #ffffff
      &:hover
        text-decoration: underline
  &__address
    width: 51%
    //margin-left: (100% / 8)
    vertical-align: middle
    +media-750
      width: 100%
      margin-left: 0px
      text-align: center
  &__map
    width: 48%
    vertical-align: middle
    +media-750
      display: none
    img
      max-width: 100%