.you-get
  &__item
    display: inline-block
    width: 25%
    vertical-align: top
    text-align: center
    margin-bottom: 50px
    transition: .3s all
    +media-992
      width: 33.3%
    +media-800
      width: 50%
    +media-480
      width: 100%
  &__item-icon

  &__item-title
    font-size: 18px
    color: #ffffff
    padding-top: 35px
    line-height: 23px