<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Project</title>

    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="./images/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="./images/favicon/apple-touch-icon.png" type="image/png">

    <link rel="stylesheet" href="./css/application.css">
</head>
<body>
{% include "shared/_header.html" %}

{% block content %}{% endblock %}
    
{% include "shared/_footer.html" %}

<div class="modal-window" id="modal-window">
        <a class="modal-window__close" id="close-modal" onclick="return false">

        </a>
    <div class="modal-window__name">
        Оставьте свои данные  и мы вам перезвоним
    </div>
    <form name="call-back-form" id="call-back-form">
        <div class="call-back-form__group">
            <input type="text" name="name" placeholder="Имя" required/>
        </div>
        <div class="call-back-form__group">
            <input type="text" name="phone" placeholder="Телефон" required/>
        </div>
        <div class="call-back-form__recaptcha">
            <div class="g-recaptcha" data-sitekey="6Le5eioUAAAAAFDoOLLUr9bn_Vt6Iu1YLbZrM9TU"></div>
        </div>
        <div class="call-back-form__group">
            <input type="submit" id="submit-form" class="btn-more btn-more--send" value="Заказать звонок" style="height: auto">
        </div>
        <div class="call-back-form__loader-overlay">

        </div>
    </form>
    <div class="call-back-form__success">
        Ваша заявка принята! Ожидайте звонка!
    </div>
    <div class="call-back-form__fail-recaptcha">
        <h3>Ошибка рекаптчи!</h3>
    </div>
    <a href="politika_confedecialnosti.docx" target="_blank" style="text-align: center; display: block">Политика конфедициальности</a>
</div>
<div id="overlay"></div>

</body>
<script type="text/javascript" src="./js/application.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
</html>
